{% extends "jobwebsite/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Search
{% endblock %}

{% block content %}
<div class="shadow-lg bg-white rounded mt-5 w-50 mx-auto">
  <!--Section heading-->
  <h1 class="h1-responsive font-weight-bold text-center mt-5 pt-4">Search</h1>
  <!--Section description-->
  <p class="text-center w-responsive mx-auto mb-2 px-4">Enter in Keywords (e.g. "Software Engineer") and/or Location (e.g. "New York, NY") to find jobs that match your criteria.</p>
  <div class="p-4">
    <form method="POST">
      <div class="form-row" style="display: flex; justify-content: space-around;">
        {% csrf_token %}
        <div class="form-group col-md-4">
          <label for="keywords">Keywords</label>
          {{form.keywords}}
        </div>
        <div class="form-group col-md-4">
          <label for="location">Location</label>
          {{form.location}}
        </div>  
      </div>
      <div class="text-center text-md-left btnwrap my-1 p-4"><button type="submit" class="btn btn-primary"  id ="submitBtn" value="r">Find Job</button></div>
    </form>
  </div>
</div>
{% endblock %}