@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


#navbar {
  background-color: #2a8ea2bd;
  overflow: hidden;
  font-family: 'Poppins', sans-serif; 
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  min-height: 90px;
  z-index: 10;
  width: 100%;
  box-sizing: border-box;
}

#navbar img{
  margin-left: 10px;
  position: absolute;
  left: 0;
 
}

#navbar a {
  float: left;
  font-size: 20px;
  color: rgb(1, 23, 34);
  text-align: center;
  text-decoration: none;
  display:block;
  margin-right: 50px;
  padding: 14px 16px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: 'Poppins';
  margin-right:70px;
}


#navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: rgba(0, 16, 121, 0.293);
}

.dropdown-content {
  display: none;
  background-color: #AAC4FF;
  color:(255,255,255);
  min-width: 160px;
  overflow:auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
  position:absolute;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

