.search{
  width: 100%;
  padding: 15%;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}

h1 {
  font-size: 50px;
  color: #000000;
  text-align: center;
  margin: 0 0 20px;
}

.search-bar {
  width: 100%;
  max-width: 600px;
  background: #fff;
  border-radius: 5px;
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.search-bar input {
  width: 100%;
  border: none;
  padding: 24px 20px;
  font-size: 20px;
  color: #333;
  background: transparent;
  outline: none;
  flex: 1;
}

::placeholder {
  color: #aaa;
}

.search-bar button img {
  width: 25px;
  margin-right: 5px;
}
.search-bar button{
  border: 0;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border-radius: 50%;
  padding: 5px;
  /* background: #e0e0e0; */
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-bar button:hover {
  background: #d0d0d0;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

#mission{
  background-color: #C4DFDF;
}

#mission h2{
  font-size: 50px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 5%;
}

#about h2{
  font-size: 50px;
  color: rgb(0, 0, 0);
  text-align: center;
  text-transform: uppercase;
  padding: 5%;
}

#about .founders{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

#about .founders .person {
  background:rgb(76, 99, 248);
  margin: 20px;
  padding: 20px;
}

#about .founders .person h3{
  font-size: 25px;
  color: rgb(0, 0, 0);
  
  text-align: center;
  text-transform: uppercase;
  margin: 10px;
}

@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
  }

  .search-bar input {
    width: 100%;
    margin-bottom: 20px;
  }

  .search-bar button {
    margin-right: 0;
  }
  #about .founders{
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  transition: all 2s ease;
  opacity: 0;
  transform: translateY(150px);
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
