@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* header {
  align-items:center;
  background-color:#40a0e0;
  padding: 0px;
  height: 110px;
} */

body {
  /* background-image:url("/static/images/Top_BG.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  margin:0;
  padding:0;

}

section statementBox {
  font-size:50px;
  color: red;
}


section {
  min-height:100vh;
  display:flex;
  justify-content:top;
  align-items:top;
  vertical-align: top
}

/* section h1{
  font-size: 80px;
} */

/* section {
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  color: red;
} */


