label input[type="checkbox"] {
    display: none;
  }
  
  .custom-checkbox {
    margin-left: 2em;
    position: relative;
    cursor: pointer;
  }
  
  .custom-checkbox .glyphicon {
    color: gold;
    position: absolute;
    top: 0.4em;
    left: -1.25em;
    font-size: 0.75em;
  }
  
  .custom-checkbox .glyphicon-star-empty {
    color: gray;
  }
  
  .custom-checkbox .glyphicon-star {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
  .custom-checkbox:hover .glyphicon-star{
    opacity: 0.5;
  }
  
  .custom-checkbox input[type="checkbox"]:checked ~ .glyphicon-star {
    opacity: 1;
  }
  
  /* CSS used here will be applied after bootstrap.css */

.demo {
  padding:50px;
}

/* .demo label{
 top:3px; left:15px;
 margin-right:30px;     
 position:relative;     
}   */
  

input.faChkRnd, input.faChkSqr {
  visibility: hidden;
}

input.faChkRnd:checked:after, input.faChkRnd:after {
  visibility: visible;
  font-family: FontAwesome;
  font-size:25px; height: 17px; width: 17px;
  position: relative;
  top: -3px;
  left: 0px;
  background-color:#FFF;
  display: inline-block;
}

input.faChkRnd:checked:after {
  content: '\f004';
}

input.faChkRnd:after {
  content: '\f08a';
  color: red;
}