nav li {
    display: inline-block; 
    position: relative;
}
nav li ul {
    display: none;       
    position: absolute;
    width: 100px;
    top: 100%;
    padding: 0;
}
nav li:hover > ul {  
    display: block;
}

h1 , h2  {
    color: #C25100;
}
